/* line 1, /home/peter/Documents/cs169/CS169-Campus-Scheduler/app/assets/stylesheets/time_off_requests.css.scss */
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}

/* line 8, /home/peter/Documents/cs169/CS169-Campus-Scheduler/app/assets/stylesheets/time_off_requests.css.scss */
select {
  width: 70px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
}

/* line 15, /home/peter/Documents/cs169/CS169-Campus-Scheduler/app/assets/stylesheets/time_off_requests.css.scss */
textarea {
  display: block;
  height: 250px;
  width: 300px;
  padding: 9px;
  font-size: 15px;
}
