%h1 Listing substitutions

In progress

%table
  %tr
    %th Time
    %th Location
    %th Description
    %th
    %th 

  - @substitutions.each do |substitution|
    %tr
      %td= substitution.entry.start_time
      %td= substitution.message
%br

= link_to 'New Substitution', new_substitution_path
