-@page_title = "Snapshot taken on #{@availability_snapshot.created_at.strftime('%m/%d/%Y %I:%M%p')}"

%table 
  %tr
    %th
    %th Monday
    %th Tuesday
    %th Wednesday
    %th Thursday
    %th Friday
    %th Saturday
    %th Sunday
  - 24.times do |h|
    %tr
      %th=(@time.in_time_zone('Pacific Time (US & Canada)')+h.hours).strftime('%I%p')
      - 7.times do |d|
        %td
          .as_p
            = @prefer[@time+d.days+h.hours]
          - if !@avail[@time+d.days+h.hours].empty?
            .as_a
              = @avail[@time+d.days+h.hours]
          .as_rn
            = @rather_not[@time+d.days+h.hours]
