- @page_title = 'Time Off Requests'
%p#notice= notice

%p
  %b Description:
  = @time_off_request.description

= link_to 'Edit', edit_time_off_request_path(@time_off_request)
\|
= link_to 'Back', time_off_requests_path
