="#{@sub.users[0].name} posted a sub"
<br>
="#{@sub.entry.start_time.strftime('%a, %m/%d -- %I:%M%p')} - #{@sub.entry.end_time.strftime('%a, %m/%d -- %I:%M%p')} at #{Lab.find(@sub.entry.lab).initials}"
