= javascript_include_tag "jquery.weekcalendar.js"
= javascript_include_tag "date.js"

-if !@calendar.shift?
  %table{:border=>0}
    %tr
      %td#radioGroup
        <input type='radio' name='entry_type_select' value='prefer' checked>Prefer</input>
        <input type='radio' name='entry_type_select' value='rather_not'>R/N</input>
        <input type='radio' name='entry_type_select' value='class'>Class</input>
        <input type='radio' name='entry_type_select' value='obligation'>Obligation</input>
        -if @current_user.id == @calendar.owner
          = button_tag :submit, :id=>:submit_calendar

#calendar
#event_edit_container
  = form_tag '/'
  %ul
    %li
      %label{:for=>"start"}Start Time:
      %select{:name=>"start"}
        %option{:value=>""}Select Start Time
    %li
      %label{:for=>"end"}End Time:
      %select{:name=>"end"}
        %option{:value=>""}Select End Time
    %li
      %label{:for=>"entry_type"}Type:
      %select{:name=>"entry_type"}
        %option{:value=>"prefer"}Prefer
        %option{:value=>"rather_not"}R/N
        %option{:value=>"class"}Class
        %option{:value=>"obligation"}Obligation
    %li#description
      %label{:for=>"description"}Description: 
      %textarea{:name=>"description"}


