-@page_title = "Snapshot taken on #{Time.current.strftime('%m/%d/%Y %I:%M%p')}"
- time = @start_time
%table 
  %tr
    %th
    %th Monday
    %th Tuesday
    %th Wednesday
    %th Thursday
    %th Friday
    %th Saturday
    %th Sunday
  - 24.times do |h|
    %tr
      %th=(time+h.hours).strftime('%I%p')
      - 7.times do |d|
        %td= @cal[time+d.days+h.hours]
    
    
