// Place all the styles related to the availabilitySnapshots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.as_rn {
   color: red;
}

.as_a {
  color: black;
}

.as_p {
  color: green;
}
