<!DOCTYPE html>
<html>
<head>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>CS169CampusScheduler</title>
  <%= stylesheet_link_tag  "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Marvel' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Marvel|Delius+Unicase' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <link href="/application.css" rel="stylesheet" type="text/css" media="screen" />


<link rel='stylesheet' type='text/css' href='/reset.css' />
  <link rel='stylesheet' type='text/css' href='/libs/css/smoothness/jquery-ui-1.8.11.custom.css' />
  <link rel='stylesheet' type='text/css' href='/jquery.weekcalendar.css' />
  <link rel='stylesheet' type='text/css' href='/demo.css' />
  <link rel='stylesheet' type='text/css' href='/skins/default.css' />


  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'></script>
  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js'></script>
  <script type="text/javascript" src="http://jqueryui.com/themeroller/themeswitchertool/"></script>
  
  <script>
	  $(document).ready(function(){
	    $('#switcher').themeswitcher();
	  });
  </script>
	<script type="text/javascript" src="/libs/date.js"></script>
	<script type='text/javascript' src='/jquery.weekcalendar.js'></script>
	<script type='text/javascript' src='/demo.js'></script>





</head>
<body>
<div id="wrapper">
  <div id="wrapper2">
    <div id="header" class="container">
      <div id="logo">
        <h1><a href="/">Campus<span>Schedule</span></a></h1>
      </div>
      <div id="menu">
        <ul>
          <li><a href="/users">Users</a></li>
          <li><a href="#">Post Sub</a></li>
          <li><a href="#">Take Sub</a></li>
          <li><a href="#">View Schedule</a></li>
          <li><a href="#">Edit Schedule</a></li>
        </ul>
      </div>
    </div>
    
    <div id="page">
      <div id="content">

        <%= yield %>

      </div>
    
      <div id="sidebar">
        <ul>
          <li>
            <div id="search" >
              <form method="get" action="#">
                <div>
                  <ul>
                    <li>
                      <input type="text" name="s" id="search-text" value="username" />
                      <input type="text" name="s" id="search-text" value="password" />
                      <input type="submit" id="search-submit" value="Login" />
                    </li>
                  </ul>
                </div>
              </form>
            </div>
            <div style="clear: both;">&nbsp;</div>
          </li>
        </ul>
      </div>
      <!-- end #sidebar -->
      <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- end #page -->
    <div id="footer">
      <p>Copyright (c) 2012 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
    </div>
  </div>
</div>
</div>
</body>
</html>
